<div class="dashboard">
  <h3>St.Joseph's Convent High School, Adilabad</h3><br>
  <h6 class="alumniNetwork">ALUMNI NETWORK</h6>
  <button type="submit" class="registerButton active">REGISTER</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" class="signinButton">SIGN IN</button>
</div>

<div class="tabs">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="aboutus">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="newsroom">NEWSROOM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="members">MEMBERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="engage">ENGAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mobile app">MOBILE APP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus">CONTACT US</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>



<!-- <div>
  <div class="schoolNote">
      <p style="font-size:20px;font-family:poppins;font-weight: bold;">WELCOME TO THE OFFICIAL ALUMNI NETWORK OF</p><br>
      <p style="font-weight:bold;font-size:25px;">ST. JOSEPH'S CONVENT HIGH SCHOOL, ADILABAD</p></div>
  <img src="../assets/Banner Image.png" alt="schoolimg">

  <button type="submit" class="registerButton2">REGISTER</button>

</div> -->

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/Banner Image.png" class="d-block w-100" alt="...">
      <div>
        <div class="schoolNote">
          <p class="welcomeNote1">WELCOME TO THE OFFICIAL ALUMNI NETWORK OF</p>
          <br>
          <p class="welcomeNote2">ST. JOSEPH'S CONVENT HIGH SCHOOL, ADILABAD</p>
        </div>
        <button type="submit" class="registerButton2">REGISTER</button>
      </div>
    </div>

    <div class="carousel-item">
      <img src="../assets/Banner Image.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/Banner Image.png" class="d-block w-100" alt="...">
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<router-outlet></router-outlet>